body{
    display: flex;
    align-items: center;
    flex-direction: column;

}

h1{
    text-align: center;
    font-size: 120px;
}

th{
    font-size: 20px;
}
button{
    margin-top:5%;
    min-height: 20px;
    min-width: 40px;
    font-size: 20px;
    background-color: rgb(255, 161, 161);
    border: solid black 1px;
    border-radius: 5%;

}
input{
    font-size: 20px;
}
button:hover{
    cursor:pointer;
    
    background-color: rgb(125, 160, 198);
}
.botones{
    margin-top: 40px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


/* Estilos para pantallas pequeñas (teléfonos) */
@media screen and (max-width: 900px) {
    h1 {
        font-size: 40px;
    }

    table {
        width: 100%;
        display: block; /* Bloque para permitir flexibilidad */
    }

    tr {
        display: block;
        margin-bottom: 10px; /* Espacio entre cada bloque de cabecera y entrada */
    }

    th, td {
        display: block;
        width: 100%;
        text-align: left; /* Alinea a la izquierda para más claridad */
        padding: 5px;
    }

    th {
        font-size: 14px;
        font-weight: bold;
        background-color: #f1f1f1; /* Fondo para destacar cabeceras */
        padding-top: 10px;
    }

    td {
        font-size: 16px;
    }

    input {
        font-size: 16px;
        width: 100%; /* Hace que los inputs ocupen todo el ancho */
    }
}